<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
</head>
<body style="display:flex">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MUAT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Marchés", "", "ListeMarches")</li>
                    <li>@Html.ActionLink("Rechercher Marché", "ShowSearchFormD", "ListeMarches")</li>
                    <li>@Html.ActionLink("Documents", "", "FilesLists")</li>
                    <li>@Html.ActionLink("Rechercher Document", "ShowSearchForm", "FilesLists")</li>
                    <li>@Html.ActionLink("Générer Documents", "", "GenererDocs")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="margin-top:auto">
            <div style="align-items:center; display:flex; justify-content:center">
                <img src="https://muat.gov.ma/sites/all/themes/multipurpose/logo.png" style="width:10%;height:10%;" />
                <p>&copy; @DateTime.Now.Year - Ministère de l'Aménagement du Territoire National, de l'Urbanisme, de l'Habitat et de la Politique de la Ville .</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>