@model MUAT.Models.FilesList

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer document</h2>

<h3>Souhaitez-vous vraiment supprimer ce document?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Nom du document:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            <label>Date:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileDate)
        </dd>

        <dt>
            <label>Détails:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileDetails)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-md-offset-1">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            @Html.ActionLink("Retour", "Index")
        </div>
    }
</div>
