@model MUAT.Models.FilesList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FilesList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileDetails)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour", "Index")
</p>
